/* link to project
/Users/karenplimmer/Documents/Projects/Colmar_Academy
*/

/* Reset default browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px  solid red;
}

html {
    font-size: 14px;
}

/* Universal Styles */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(125, 125, 125);
}

h1, h2, h3 {
    color: rgb(75, 75, 75);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size : 1.5rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(150, 150, 150)
}

p {
    line-spacing: 1.3;
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;     
}

a:hover {
    color: navy;
}

a:visited {
    color: forestgreen;
}

/*header*/

header {
    height: 64px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 32px;
    vertical-align: sub;
}

 .name  {
    text-transform: uppercase;
    display: inline;
    font-size: 1.5rem;
    vertical-align: top;
    color:rgb(150, 150, 150);
    letter-spacing: 0.15em;
}

 .colmar {
    font-weight: bold;
    color:rgb(50, 50, 50)
}

nav li {
    display: inline;
    list-style: none;
    padding-left: 16px;
}

/*Header Media Queries*/

@media only screen and (max-width: 800px) {
    .desktop-menu {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-menu {
        display: none;
    }
}

/*Header Mobile*/

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
}

.icon {
    height: 2rem;
}

/*Learn something new everyday*/

.flex-container-ccw {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(230, 230, 230);
    padding: 0;
}

.learn-flex-item h1, h3, div {
    padding: 20px 0;
}

.learn-flex-item a {
    padding: 8px 100px;
    text-align: center;
    color: white;
    background-color:rgb(50, 50, 50);
    font-size: 1.3rem;
}

.study-flex-item {
    padding: 32px 24px;
}

.study-flex-item img {
    max-width: 720px;
}
.learn-flex-item {
    max-width: 432px;
    padding: 0;
}

/*Learn something new everyday Media queries*/

@media only screen and (max-width: 800px) {
    .study-flex-item {
        padding: 0px;
    }
    .learn-flex-item {
        padding: 32px 50px;
    }
}
@media only screen and (max-width: 1200px) {
    .learn-flex-item {
        padding: 32px 50px;
    }
}
/*It doesn't hurt to keep practicing*/

.flex-container-csw {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.flex-container-info {
    padding: 0;
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-container-info  {
    width: 415px;
}

.flex-container-info p {
    padding: 8px 0 8px 0;
}

.flex-container-info h3 {
    padding: 0;
}

.practicing {
    padding: 32px 0 0 24px;
    transform: translate(0px, 0);
}

.practicing img, p {
    max-width: 720px;
    margin-right: 24px;
}

.practicing h2 {
    padding: 32px 0 24px 0;
}

.practicing span {
    display: block;
    margin: 32px 0;
   font-style : italic;
}

.orientation {
    padding: 16px 16px 0 0;
    transform: translate(0px, 0);
}

.orientation h3 {
    padding-top: 24px;
}

.small-img {
    height: 200px;
    padding: 16px;
}

.beret {
    background-color:rgb(240, 240, 240);
}


@media only screen and (max-width: 800px) {
    .practicing {
        display: none
    }

    .orientation {
        padding:0;
    }

    .flex-container-info  {
        width: 460px;
    }

    .flex-container-csw {
        padding-top: 0;
        justify-content: center;
    }

     .flex-container-info {
    flex:wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }

    .mobile-img {
    padding: 16px 16px 16px 16px;
    max-width: 460px;
    }

    .mobile-indent {
        padding-left: 16px;
        padding-bottom: 0;
    }

    .beret {
        background-color: white;
        padding-top :48px;
        padding-bottom: 0px;
    }

    .students { 
        padding-top: 48px;
    }

    .small-img {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-img {
        display: none;
    }
}

/*Start learning*/

p .small-container {
    color: rgb(150, 150, 150)
}

.start-learning {
    text-align: center;
    padding: 32px, 0;
    background-color: rgb(240, 240, 240);
}

.outer-flex-container-cs {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.flex-container-six-csw {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap:wrap;
    background-color:rgb(240, 240, 240);
    max-width: 1500px;
    padding: 0;
    transform:translate(0px, 0);
}

.small-container {
    max-width: 391px;
    padding: 0;

}

.small-container img {
    display: block;
    height: 200px;
    width: 391px;
}

.text-indent {
    padding: 0 0 0 16px;
}

.text-indent h3 {
    padding: 16px, 0 0 0;
    padding-bottom: 0;
}

.text-indent h4 {
    padding: 8px 0;
}

.text-indent p {
    padding-bottom: 24px;
}

/*Start Learning Mobile*/

.start-learning-mobile {
    padding-top: 64px;
}

.courses {
    padding: 0;
}

.shaded {
   max-width: 460px;
   margin-bottom: 8px;
   background-color :rgb(200, 200, 200);
   padding: 16px 0 24px 16px;
   margin: 0 32px;
}

/*Start Learning Media Queries*/

@media only screen and (min-width: 550px) {
    .mobile-courses {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .desktop-courses {
        display: none
    }
}



/*Thesis exhibit*/

/*footer*/