/* link to project
/Users/karenplimmer/Documents/Projects/Colmar_Academy

fonts in use
font-family: "Belleza", sans-serif;
font-family: "Lora", serif;
font-family: 'Montserrat', sans-serif;


*/

/* Reset default browser */

* {
    margin: 0;
    padding: 0;
    border: 1px  solid pink;
}

html {
    font-size: 14px;
}

body, .main-content {
    padding:0;
    margin :0;
}

/* Universal Styles */

body {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(75,75,75);
}

h1, h2, h3, h4 {
    font-family: "Belleza", "Lora", sans-serif;

}

h1, h2, h3 {
    color: rgb(0, 0, 75);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size : 1.5rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(150, 150, 150)
}

p {
    line-spacing: 1.3;
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;     
}

a:hover {
    color: rgb(0, 0, 75);
}

a:visited {
    color: rgb(0, 65, 75);
}

.flex-container-ccw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;

}

.flex-container-csw {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.flex-container-cs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.flex-container-sc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

/*header*/

header {
    height: 64px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 32px;
    transform:translate(0, -3px);
}

 .name  {
    text-transform: uppercase;
    display: inline;
    font-size: 1.5rem;
    vertical-align: top;
    color:rgb(150, 150, 150);
    letter-spacing: 0.15em;
}

 .colmar {
    font-weight: bold;
    color:rgb(50, 50, 50)
}

nav li {
    display: inline;
    list-style: none;
    padding-left: 16px;
}

/*Header Media Queries*/

@media only screen and (max-width: 800px) {
    .desktop-menu {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-menu {
        display: none;
    }
}

/*Header Mobile*/

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
}

.icon {
    height: 2rem;
}

/*Learn something new everyday
2 flex-boxes 1.learn 2.study
*/

.learn-and-study {
    background-color: rgb(230, 230, 230);
}

.study  {
    padding: 32px 24px;
    width: 739px
}

.learn {
   width: 461px;
   border-bottom: 1px solid rgb(0, 165, 175);
   border-top: 1px solid rgb(0, 165, 175);
   margin-bottom: 24px;
}

.learn h1 {
    padding: 32px 0;
}

.start-here-container {
    padding: 32px 0 48px 0;
}

.learn a {
    padding: 8px 70px;
    text-align: center;
    color: white;
    background-color:rgb(0, 65, 75);
    font-size: 1.3rem;
}

/*It doesn't hurt to keep practicing
2 flex-boxes 1.practicing 2.orientation
*/

.practicing {
    padding: 32px 24px 32px 24px;
    width: 739px
}

.orientation {
    width: 461px;
    padding: 16px 0 32px 0;
}

.practicing img {
    width:739px;
}

.practicing h2 {
    padding: 32px 0 24px 0;
}

.practicing span {
    font-family: Belleza;
    font-style : italic;
    font-size: 1.1rem;
    color:rgb(0, 0, 75);
    display: block;
    padding: 24px 0 32px 0;
    border-bottom: 1px solid rgb(0, 165, 175)
}

.mobile-indent p {
    padding: 16px 0;
}

.mobile-indent a {
    color:rgb(0, 165, 175)
}

.small-img {
    height: 150px;
    padding: 16px;
}

.beret {
    background-color:rgb(240, 240, 240);
}


@media only screen and (max-width: 800px) {
    .practicing {
        display: none
    }

    .orientation {
        padding:0;
    }

    .flex-container-csw {
        padding-top: 0;
        justify-content: center;
    }

     .flex-container-info {
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 560px;
    }

    .mobile-img {
    padding: 16px 16px 16px 16px;
    max-width: 460px;
    }

    .mobile-indent {
        padding: 0 16px 0 16px;
    }

    .mobile-indent p .mobile-indent a {
       padding: 0 0 0 16px;
    }

    .beret {
        background-color: white;
        padding-top :48px;
        padding-bottom: 0px;
    }

    .students { 
        padding-top: 48px;
    }

    .small-img {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-img {
        display: none;
    }
} 