/* link to project
/Users/karenplimmer/Documents/Projects/Colmar_Academy
*/

/* Reset default browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html {
    font-size: 14px;
}

/* Universal Styles */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size : 1.5rem;
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;     
}

a:hover {
    color: navy;
}

a:visited {
    color: forestgreen;
}

/*header*/

header {
    height: 64px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 2.5rem;
    vertical-align: text-bottom;
}

 .name  {
    text-transform: uppercase;
    display: inline;
    font-size: 32px;
}

 .colmar {
    font-weight: bold;
    text-transform: uppercase;
}

nav li {
    display: inline;
    list-style: none;
    padding-left: 16px;
}

@media only screen and (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
}



@media only screen and (min-width: 800px) {
    .hide-on-desktop {
        display: none;
    }
}

/*Header Mobile*/

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
}

.icon {
    height: 2rem;
}


/*Learn something new everday*/

/*It doesn't hurt to keep practicing*/

/*Start learning*/

/*Thesis exhibit*/

/*footer*/