/* link to project
/Users/karenplimmer/Documents/Projects/Colmar_Academy
*/

/* Reset default browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html {
    font-size: 14px;
}

/* Universal Styles */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(125, 125, 125);
}

h1, h2, h3 {
    color: rgb(75, 75, 75);

}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size : 1.5rem;
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;     
}

a:hover {
    color: navy;
}

a:visited {
    color: forestgreen;
}

/*header*/

header {
    height: 64px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 32px;
    vertical-align: sub;
}

 .name  {
    text-transform: uppercase;
    display: inline;
    font-size: 1.5rem;
    vertical-align: top;
}

 .colmar {
    font-weight: bold;
}

nav li {
    display: inline;
    list-style: none;
    padding-left: 16px;
}

@media only screen and (max-width: 800px) {
    .desktop-menu {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-menu {
        display: none;
    }
}

/*Header Mobile*/

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
}

.icon {
    height: 2rem;
}

/*Learn something new everday*/

.flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(210, 210, 210);
}

.learn-flex-item h1, p {
    padding:40px 0;
}

.learn-flex-item a {
    padding: 8px 100px;
    text-align: center;
    color: white;
    background-color:rgb(50, 50, 50);
    font-size: 1.3rem;
}

.study-flex-item {
    padding: 32px 24px;
}

.study-flex-item img {
    max-width: 720px;
}
.learn-flex-item {
    max-width: 432px;
}



/*It doesn't hurt to keep practicing*/

/*Start learning*/

/*Thesis exhibit*/

/*footer*/